@mixin h1 {
  font-size: 26px;
  font-weight: 700;
  letter-spacing: 1.4px;
}

@mixin h2 {
  font-size: 22px;
  font-weight: 700;
}

@mixin h3 {
  font-size: 16px;
  font-weight: 700;
}

@mixin sub {
  font-size: 12px;
}